@font-face {
    font-family: Anakotmai;
    src: url(assets/anakotmai-medium.woff);
}

header {
    text-align: center;   
}

body {
    font-family: "Anakotmai",sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
    background-color: #E2E6E9;
}

main{
    padding-left:7%;
    padding-right:7%;
}
footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}

ul{
    margin-bottom: 70px;
}
.background-pic{
    width:1500px;
    height:515px;

}
.header-div{
    padding-top:89px;
    width:100%;
    position:absolute;
    text-align: center;
    display: block;
    z-index: 2;
    left:0;
    right:0;
}

.header-text{
    text-align: center;
    width: 800px;
    z-index: 10;
    margin-left:auto;
    margin-right:auto;
    background-color: rgb(46, 86, 110);
    color:white;
    font-size: 70px;
    margin-top:0;
    height:auto;
    padding:20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.topic{
    margin-bottom:0px;
    font-size: 50px;
    font-weight: bold;
}
.flex{
    display:inline-flex;
}
.line{
    text-align:left;
    margin: 20px;
}
.list-header{
    width:333px;
    font-weight: bold;
}
.list-detail{
    font-weight:lighter;
}

.toggle-button{
    background-color: transparent;
    border:0px;
    text-align: center;
    margin-right: 20px;
    font-size: 40px;
}
.hide{
    display: none;
}