@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Medium.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
    font-weight: normal;
}



body{
    font-family: 'Roboto';
    font-weight: bold;
    text-align: center;
    align-items: center;
}
header{
    margin:0 auto;
    text-align: left;
}
nav{
    display: inline-flex;
    margin-right:0 auto;
    width: 100%;
    justify-content: center;
}
.nav-button{
    color:rgb(4, 4, 98);
    padding:5px;
    padding-left: 10px;
    padding-right:10px;
    border-radius: 5px;
    cursor: pointer;
}
.nav-button:hover{
    background-color: rgb(238, 239, 250);
}
.current-nav{
    text-decoration: underline;
}
.page{
    margin:auto;
    margin-top: 50px;
}
.head-puzzle{
    text-align: left;
}
.flex{
    width: auto;
    display:inline-flex;
    align-items: center;
    justify-content: middle;
    margin:auto;
    margin-top: 40px;
}
.right-side{
    margin-left: 20px;
}
.grid-table{
    width:450px;
    height:450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 2px solid black;
}

.grid-number{
    width:270px;
    height:270px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tile{
    font-size: 20px;
    height: 50px;
    background-color: white;
    border:1px solid rgb(234, 234, 234);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numpad{
    font-size: 25px;
    background-color: rgb(163, 163, 212);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:2px;
    border-radius: 5px;
}
.selected{
    background-color: whitesmoke;
}
.answer-tile{
    color: blue;
}
.answer-tile:hover{
    background-color: whitesmoke;
}
.left-line{
    border-left:1px solid black;
}
.right-line{
    border-right:1px solid black;
}
.top-line{
    border-top:1px solid black;
}
.bottom-line{
    border-bottom:1px solid black;
}

.submit-button{
    margin-top: 30px;
    padding: 6px;
    background-color: rgb(148, 225, 148);
    border-radius: 5px;
}

.hidden{
    display: none;
}

.warning{
    color:red;
}

.wrong-ans{
    background-color: rgb(232, 137, 137);
}
.sol{
    margin-top: 100px;
}
.sol-flex{
    
    display: flex;
    justify-content: center;
    align-items: center;
}